# Please keep your computer lid closed for the first module of this session.

**Q3-a:** Create the following DataFrame and name it `phones` (do it in at least 3 different ways).

            price  screen size
Samsung S9    619          5.8
iPhone 8      599          4.7
iPhone XR     749          6.1

**Q3-b:** Sort the columns in descending order by screen size.

**Q3-c:** Obtain only the first two rows of the DataFrame (after sorting by screen size).

**Q3-d:** Create a scatter plot where x axis is screen size and y axis is price (with the whole data).