# Session 6: Lists and Dictionaries (with Solutions)

## 1. Basic Syntax for Python Lists
### 1.1 Indexing and slicing

In [1]:
l=[10,20,'Python',int]
len(l)

4

In [2]:
l[1]

20

In [3]:
l[-1]

int

In [4]:
l[0:3]

[10, 20, 'Python']

In [5]:
l[1:]

[20, 'Python', int]

```python
l[4]
```

```
IndexError: list index out of range
```

In [6]:
10 in l

True

In [7]:
50 in l

False

In [8]:
50 not in l

True

## 1.2 Modifying lists

In [9]:
l=[10,20,'Python',int]
l+[50,60]

[10, 20, 'Python', int, 50, 60]

In [10]:
l.append(40)
l.append(80)
l

[10, 20, 'Python', int, 40, 80]

In [11]:
del l[4:]
l

[10, 20, 'Python', int]

In [12]:
l[2]=10
l

[10, 20, 10, int]

**Q1-a:** Define a list `m=[5,4,3,8,2,[4,2]]`. Find the length of the list and the type of the last element.

In [13]:
m=[5,4,3,8,2,[4,2]]
len(m)

6

In [14]:
type(m[-1])

list

**Q1-b:** Use indexing to obtain a slice of the list from `4` to `8`.

In [15]:
m[1:4]

[4, 3, 8]

**Q1-c:** Remove the last three elements of the list.

In [16]:
del m[-3:]
m

[5, 4, 3]

**Q1-d:** Find two ways of adding the elements `2` and `1` to `m`, using `append` and `+` respectively.

In [17]:
m=[5,4,3]
l.append(2)
l.append(1)
l

[10, 20, 10, int, 2, 1]

In [18]:
m=[5,4,3]
m=m+[2,1]
m

[5, 4, 3, 2, 1]

**Q1-e:** Modify the list so that the element 4 becomes a string `"Four"`.

In [19]:
m[1]="Four"
m

[5, 'Four', 3, 2, 1]

## 1.3 String parsing using lists

In [20]:
s='Python for Business Analytics!!??\n'
s.strip()

'Python for Business Analytics!!??'

In [21]:
s.strip().strip('?!')

'Python for Business Analytics'

In [22]:
s=s.strip().strip('?!')
s

'Python for Business Analytics'

In [23]:
s.split(' ')

['Python', 'for', 'Business', 'Analytics']

In [24]:
s.split(' ')[2]

'Business'

In [25]:
l=s.split(' ')
l[1:]

['for', 'Business', 'Analytics']

**Q2:** Given a string of the following format from the mailbox data
```python
s="From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008\n"
```
**a)** Use string splitting to obtain the variables `dayOfWeek`, `month`, `day`, and `year`. In this example, `dayOfWeek='Sat'`, `month='Jan'`, `day=5` (convert to integer), `year=2008` (convert to integer).

In [26]:
s="From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008\n"
l=s.strip().split(' ')
l

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [27]:
dayOfWeek=l[2]
month=l[3]
day=int(l[4])
year=int(l[-1])
dayOfWeek,month,day,year

('Sat', 'Jan', 5, 2008)

**b)** Use string splitting to obtain the domain name of the email address. In the above example, the domain name is `'uct.ac.za'`.

In [28]:
email=l[1]
domain=email.split('@')[1]
domain

'uct.ac.za'

## 1.3 For loops and lists

In [29]:
# Iterating through a list
l=[0,2,4,6,8]
for item in l:
    print(item,end=' ')

0 2 4 6 8

In [30]:
# Creating a list iteratively
l=[]
for i in range(5):
    l.append(i*2)
l

[0, 2, 4, 6, 8]

**Q3:** Use a `for` loop to construct a list of the first 10 squares, including 0.

In [31]:
l=[]
for i in range(10):
    l.append(i*i)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Q4:** Given `list1=[1,2,3,2,1,'Hi',1,'Hi']`. Initialize `list2=[]`. Use a `for` loop to iterate through `list1` and adding each item to `list2` only if the item is not already in `list2`. In the end, `list2` will only contain the unique elements in `list`

In [32]:
list1=[1,2,3,2,1,'Hi',1,'Hi']
list2=[]
for item in list1:
    if item not in list2:
        list2.append(item)
list2

[1, 2, 3, 'Hi']

## 2. Basic Syntax for Python Dictionaries

### 2.1 Indexing

In [33]:
d={'apple':1,'orange':2,'grape':3}
d

{'apple': 1, 'orange': 2, 'grape': 3}

In [34]:
len(d)

3

In [35]:
d['apple']

1

```python
d[1]
```

```
KeyError: 1
```

In [36]:
'apple' in d

True

In [37]:
'rice' not in d

True

In [38]:
3 in d

False

In [39]:
3 in d.values()

True

## 2.2 Modifying

In [40]:
d={'apple':1,'orange':2,'grape':3}
d

{'apple': 1, 'orange': 2, 'grape': 3}

In [41]:
d['carrots']=4
d

{'apple': 1, 'orange': 2, 'grape': 3, 'carrots': 4}

In [42]:
d['apple']=5
d

{'apple': 5, 'orange': 2, 'grape': 3, 'carrots': 4}

In [43]:
d['apple']+=1
d

{'apple': 6, 'orange': 2, 'grape': 3, 'carrots': 4}

```python
d['rice']+=1
```

```
KeyError: 'rice'
```

In [44]:
if 'rice' not in d:
    d['rice']=0
d['rice']+=1
d

{'apple': 6, 'orange': 2, 'grape': 3, 'carrots': 4, 'rice': 1}

In [45]:
if 'rice' not in d:
    d['rice']=0
d['rice']+=1
d

{'apple': 6, 'orange': 2, 'grape': 3, 'carrots': 4, 'rice': 2}

**Q5-a:** Create a dictionary `name` mapping the numbers `0` to `3` to their English name. (i.e. the key `0` should map to the value `'zero'`, and `1` should map to `'one'`, etc.)

In [46]:
name={0:'zero',1:'one',2:'two',3:'three'}
name

{0: 'zero', 1: 'one', 2: 'two', 3: 'three'}

**Q5-b:** Find the number of elements in the dictionary using `len`.

In [47]:
len(name)

4

**Q5-c:** Check if 'two' is a key is in the dictionary. Check if it is a value.

In [48]:
2 in name

True

In [49]:
2 in name.values()

False

**Q6:** Write a function `histogram` with taking a list named `items` as input. The function should return a dictionary mapping each unique element in the list to the number of occurences. (Hint: use a `for` loop to go through each `item` in the list and maintain a dictionary mapping each `item` to the number of occurrences so far. You can use the above code to do the incrementing.)

In [50]:
def histogram(items):
    hist={}
    for i in items:
        if i not in hist:
            hist[i]=0
        hist[i]+=1
    return hist

In [51]:
histogram([3,2,1,2,2,2])

{3: 1, 2: 4, 1: 1}

## 2.3 For loops and dictionaries

In [52]:
# Iterating through a dictionary
d={'apple':5,'rice':4,'broccoli':8}
for key in d:
    value=d[key]
    print(key,value)

apple 5
rice 4
broccoli 8

In [53]:
# Building a dictionary iteratively
l=['apple','rice','broccoli']
d={}
for item in l:
    d[item]=len(item)
d

{'apple': 5, 'rice': 4, 'broccoli': 8}

**(optional) Q7:** Write the function `squares` that takes one input argument `n` and returns a dictionary mapping each number from 0 to $n-1$ to its square.

In [54]:
def squares(n):
    d={}
    for i in range(n):
        d[i]=i*i
    return d

In [55]:
squares(5)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## Case 7a: Mail Log Analysis I
Write a program to read through a specified mail log, filtering only for lines that start with `"From:"`. This will yield the lines as follows:

```
From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
...
```
Instead of printing the above lines, obtain the domain name (which is the string after `"@"`) of each line, and maintain a list of unique domain names. The program should print an alphabetically sorted version of this list, with one entry on each line. The following output is from the file `"mbox-short.txt"`.

```
caret.cam.ac.uk
gmail.com
iupui.edu
media.berkeley.edu
uct.ac.za
umich.edu
```

In [56]:
filename='mbox-short.txt'
file=open(filename,'r')
l=[]
for line in file:
    line=line.rstrip()
    if line.startswith('From:'):
        domain=line.split('@')[1]
        if domain not in l:
            l.append(domain)
l=sorted(l)
for entry in l:
    print(entry)

caret.cam.ac.uk
gmail.com
iupui.edu
media.berkeley.edu
uct.ac.za
umich.edu

## Case 7b: Mail Log Analysis II

Instead of using a list to keep track of the unique domain names, use a dictonary to count how many messages have come from each domain name. The output of the program is similar to the above, except that you should also show how many messages come from each domain name.

```
caret.cam.ac.uk 1
gmail.com 1
iupui.edu 8
media.berkeley.edu 4
uct.ac.za 6
umich.edu 7
```

In [57]:
filename='mbox-short.txt'
file=open(filename,'r')
dic={}
for line in file:
    line=line.rstrip()
    if line.startswith('From:'):
        domain=line.split('@')[1]
        if domain not in dic:
            dic[domain]=0
        dic[domain]+=1
for domain in sorted(dic.keys()):
    print(domain,dic[domain])

caret.cam.ac.uk 1
gmail.com 1
iupui.edu 8
media.berkeley.edu 4
uct.ac.za 6
umich.edu 7

## Case 7c: Mail Log Analysis III

Analogous to the code in 7b, this time you will filter only for emails that come from the domain `"umich.edu"` and count how many messages come from each address.

```
gsilver@umich.edu 3
zqian@umich.edu 4
```

In [58]:
filename='mbox-short.txt'
file=open(filename,'r')
dic={}
for line in file:
    line=line.rstrip()
    if line.startswith('From:'):
        email=line[6:]
        domain=email.split('@')[1]
        if domain=='umich.edu':
            if email not in dic:
                dic[email]=0
            dic[email]+=1
for email in sorted(dic.keys()):
    print(email,dic[email])

gsilver@umich.edu 3
zqian@umich.edu 4